.editing-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: rgba(0, 0, 0, 0.7); */
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}
.editing-inner-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: white;
    width: 380px;
    height: 280px;
    border-radius: 20px;
    border: solid black;
}

.editing-inner-modal input {
    width: 250px;
    margin-bottom: 20px;
}

.editing-inner-modal textarea {
    height: 70px;
    resize: none;
    margin-bottom: 20px;
    width: 250px;
}

.editing-inner-modal button {
    margin: 0 10px;
    background-color: black;
    color: yellow;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    padding: 5px;
}
