.div-btn {
    display: flex;
    justify-content: center;
}
.main-btn {
    margin-top: 20px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    border: none;
    font-size: 20px;
    transition: 0.3s;
}

.main-btn:hover {
    transform: scale(1.05);
    color: rgb(26, 20, 46);
}

#load-more {
    margin: 20px 0;
    height: 32px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    font-size: 20px;
    transition: 0.3s;
}
#load-more:hover {
    transform: scale(1.05);
    color: rgb(26, 20, 46);
}
